html, body {
        height:100%;
        margin: 0;
        padding: 0;
/*        background-image: url("gradient.jpg"); */
}

body {background-color: #f8f8ff !important; }

.container-fluid {
        padding-right: 0px;
        height: 100%;
        width: 100%;
}

#map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
}

#map {
        height: 700px;
        width:  800px;
        display: inline;
        border-radius: 10px;
        border-color: black;
}
/*@media all and (min-width: 1200px) {
  #map {
    min-height: 500px;
    width: 70%;
    display: block;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    float: right;
  } */
  #map-container {
        padding-right: 0px;
}

#map {
        min-height: 500px;
}


@media all and (max-width: 1200px) {
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  1200px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
  }
}
@media all and (max-width: 1100px) {
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  1100px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
  }
}
@media only screen and (max-width: 1000px) {    
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  1000px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
    }
}
@media only screen and (max-width: 900px) {
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  900px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
    }
}
@media only screen and (max-width: 800px) {
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  800px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
    }
}
@media only screen and (max-width: 750px) {
  #map-container {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-right: 0px;
       /* issue c display: inline-block;*/
  }

  #map {
        height: 700px;
        width:  750px;
        display: inline;
        border-radius: 10px;
        border-color: black;
        float: left;
    }
}
/*
@media all and (max-width: 700px) {
  #map {
        min-height: 100%;
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 375px;
        float: right;
  }
}
*/
@media all and (min-width: 0px) {
  .dropdown-toggle{
      background-color: #84c7c6;
  }

  img {
    margin-left: auto;
    margin-top: 7px;
  }
  .title {
    margin-top: 7px;
    font-family: 'Lobster Two';
    color: #ED1C24;
    margin-left: auto;
    font-size: 215%;
  }

  .start {
    margin-left: auto;
    margin-top: auto;
    font-size: 130%;
    font-family: 'Open Sans';
    font-weight: bold;
  }
  }

  .btn-group1 {
    color: white;
    margin-left: auto;
    margin-top: auto;
    font-family: 'Open Sans';
  }

  .plan_trip {
    margin-left: auto;
    margin-top: auto;
    font-size: 130%;
    font-weight: bold;
    font-family: 'Open Sans';
    padding:10px;
  }


  .finish {
    margin-left: auto;
    position: relative;
    margin-top: auto;
    font-size: 150%;
    font-family: 'Open Sans';
  }
  
  input[id="datepicker"] {
    width: 10px;
  }

  #date {
    color: white;
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    /*font-family: monospace; */
  }

  .btn-group2 {
    color: white;
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    width: 120px; 

  }

  .finish {
    margin-left: auto;
    margin-top: auto;
    font-size: 130%;
    font-family: 'Open Sans';
    font-weight: bold;
  }

  .btn-group3 {
    color: #84c7c6;
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    width: 160px; 
    padding: 4px;
    background-color: #84c7c6;
    border-radius: 5px;
  }

  .btn {
    background-color: #84c7c6;    
  }


  input[id="datepicker"] {
    width: 100px;
  }

  #date {
    color: white;
  }

  .btn-group4 {
    color: white;
    font-family: 'Open Sans';
    width: 2px;
  }

  .btn-group5 {
    color: white;
    margin-left: auto;
    margin-top: auto;
    font-family: 'Open Sans';
    border-color: black;
  }

  .add_dest {
    color: white;
    margin-top: auto;
    margin-left: auto;
    /*font-family: 'Open Sans'; */
    font-family: monospace;
    font-size: 150%;
  }
 /* .btn-success {
    color: #ffffff;
    background: #ED1C24;
    } */

  #buy {
    margin-left: auto;
    margin-top: auto;
    font-family: 'Open Sans';
    border-radius: 5px;
    border-color: black;
    color: #ffffff;
    }
  #buy {
    color: #84c7c6 !important; 
    }
  a:link{
    color: white;
  }

  .typeahead {
    color: black;
  }

  #print {
    color: #ffffff;
    margin-left: auto;
    margin-top: auto;
    font-family: 'Open Sans';
    }
