html, body {
        background-color: #0000000;
        height:100%;
        margin: 0;
        padding: 0;
}

.container-fluid {
  padding-right: 0px;
}

#map-container {
        padding-right: 0px;
}

#map {
        min-height: 500px;
}
/*@media all and (min-width: 1200px) {
  #map {
    min-height: 500px;
    width: 70%;
    display: block;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    float: right;
  }
}

@media all and (max-width: 1200px) {
  #map {
        min-height: 500px;
        position: relative;
        width:67%;
        display: block;
        margin-left: 2%;
        margin-right: 0%;
        float: right;
  }
} 

@media all and (max-width: 1100px) {
  #map {
        min-height: 60%;
        width: 64%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        float: right;
  }
}

@media all and (max-width: 1000px) {
  #map {
        min-height: 60%;
        width: 61%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        float: right;
  }
}

@media all and (max-width: 900px) {
  #map {
        min-height: 60%;
        width: 57%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        float: right;
  }
}

@media all and (max-width: 800px) {
  #map {
        min-height: 60%;
        width: 54%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        float: right;
  }
}

@media all and (max-width: 750px) {
  #map {
        min-height: 60%;
        width: 51%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        float: right;
  }
}

@media all and (max-width: 700px) {
  #map {
        min-height: 100%;
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 375px;
        float: right;
  }
}
*/
@media all and (min-width: 0px) {
  .dropdown-toggle{
      background-color: #99ccff;
  }

  img {
    /* position: absolute; */
    margin-left: auto;
    margin-top: 7px;
  }
  .title {
    margin-top: 7px;
    font-family: 'Lobster Two';
    color: #ED1C24;
    margin-left: auto;
    /* position: absolute; */
    font-size: 215%;
  }

  .start {
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-size: 150%;
    font-family: 'Open Sans';
  }

  .btn-group1 {
    color: white;
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-family: 'Open Sans';
  }

  .plan_trip {
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-size: 150%;
    text-decoration: underline;
    font-family: 'Open Sans';
  }

  .rem_dest {
    color: white;
    /* position: absolute; */
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    font-family: monospace;
  }

  .btn-group2 {
    color: white;
    /* position: absolute; */
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
  }

  .finish {
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-size: 150%;
    font-family: 'Open Sans';
  }

  .btn-group3 {
    color: #99ccff;
    /* position: absolute; */
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    width: 128px; 
    padding: 4px;
    background-color: #99ccff;
    border-radius: 5px;
  }

  input[id="datepicker"] {
    width: 80px;
  }

  #date {
    color: white;
  }

  .btn-group4 {
    color: white;
    /* position: absolute; */
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
  }

  .btn-group5 {
    color: white;
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-family: 'Open Sans';
  }

  .add_dest {
    color: white;
    /* position: absolute; */
    margin-top: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    font-family: monospace;
    /*padding: 5%;*/
  }

  .buy_tix {
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-family: 'Open Sans';
  }

  .typeahead {
    color: black;
  }

  .print_schedule {
    margin-left: auto;
    /* position: absolute; */
    margin-top: auto;
    font-family: 'Open Sans';
  }
}
